<input type="hidden" id="username" value="{{ username }}"/>
<input type="hidden" id="password" value="{{ password }}"/>
<h2>Get Backup Files</h2>
<a href="file1.csv">Download File 1</a>
<a href="file2.csv">Download File 2</a>
<h2>Nạp dữ liệu từ File 1 và File 2</h2>
<div id="backup_div">
    <form method=post enctype=multipart/form-data>
      File 1: <input type=file name=file1><br>
      File 2: <input type=file name=file2><br>
      <input type=submit id="submit_csv" value=Upload>
    </form>
</div>
<h2>Nạp dữ liệu từ PVO Offline</h2>
<div id="backup_from_old_pvo">
    <!--- Adapted from https://flask.palletsprojects.com/en/1.1.x/patterns/fileuploads/--->
    <form method=post enctype=multipart/form-data>
      File .mdb: <input type=file name=mdb_file><br>
      <input type=submit id="submit_mdb" value=Upload>
    </form>
</div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<!--- Deprecated
<script type="module" defer>
    import { dictToURI } from "./static/js/dictToURI.js";
    // initializes important values
    let username = document.getElementById("username").value;
    let password = document.getElementById("password").value;

    // initializes File 1 and File 2
    let request = new XMLHttpRequest();
    request.open("GET", "./get_backup?"+dictToURI({
        username: username,
        password: password
    }));
    request.onload = (e) => {
        let result = JSON.parse(request.responseText);
        document.getElementById("node_info").value = result["node_info"];
        document.getElementById("edge_info").value = result["edge_info"];
    }
    request.send(null);

    // load the backup files
    document.getElementById("backup_load").onclick = (e) => {
        let node_info = document.getElementById("node_info").value;
        let edge_info = document.getElementById("edge_info").value;
        request.open("POST", "./load_backup");
        request.setRequestHeader("Content-Type", "application/json");
        request.onload = (e) => {
            let result = JSON.parse(request.responseText)["result"];
            if (result)
                document.getElementById("load_status").innerHTML = "Your data have been loaded";
            else
                document.getElementById("load_status").innerHTML = "Error!";
        }
        request.send(JSON.stringify({
            username: username,
            password: password,
            edge_info: edge_info,
            node_info: node_info
        }));
    }
</script>
---->
