<div id="login_box">
    <h3>Login</h3>
    Username: <input type="text" id="username"><br>
    Password: <input type="password" id="password"><br>
    <button id="login">Login</button>
    <button id="register">Register</button>
    <div id="login_status">
    </div>
</div>


<script type="module">
    import { dictToURI } from "./static/js/dictToURI.js";

    let login_button = document.getElementById("login");
    login_button.onclick = (e) => {
        let name = document.getElementById("username").value;
        let pass = document.getElementById("password").value;
        let request = new XMLHttpRequest();
        // check the login attempt
        request.open("GET", "./login?"+dictToURI(
            {
                "username": name,
                "password": pass,
            }
        ), true);
        request.send(null);
        request.onload = (e) => {
            let result = JSON.parse(request.response)["result"];
            let status = document.getElementById("login_status");
            // redirect the user to the correct page, or inform the user that
            // the provided info is invalid
            if (result) window.location.href = "./add_node_page";
            else status.innerHTML = "Invalid credentials";
        }
    };


    let register_button = document.getElementById("register");
    register_button.onclick = (e) => {
        let name = document.getElementById("username").value;
        let pass = document.getElementById("password").value;
        let request = new XMLHttpRequest();
        request.open("GET", "./register?"+dictToURI(
            {
            "username": name,
            "password": pass,
        }
        ), true);
        request.send(null);
        request.onload = (e) => {
            let result = JSON.parse(request.responseText)["result"];
            let status = document.getElementById("login_status");
            // if the register attempt is successful,
            // automatically log in the user
            if (result) {
                request.open("GET", "./login?"+dictToURI(
                {
                    "username": name,
                    "password": pass,
                }, true));
                request.onload = (e) => window.location.href = "./add_node_page";
                request.send(null);
            } else {
                status.innerHTML = "The username has been used";
            }
        }
    }; 
</script>